<script>
  function initMap(lat, lng) {
    var myCoords = new google.maps.LatLng(lat, lng);
    var mapOptions = {
      center: myCoords,
      zoom: 16
    };
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);
    var marker = new google.maps.Marker({
      position: myCoords,
      map: map
    });
  }

  document.addEventListener("DOMContentLoaded", function(){
      initMap(<%=@drive_state['latitude']%>, <%=@drive_state['longitude']%>)
  });
</script>

<div style="text-align: center">
  <%= image_tag "https://static-assets.tesla.com/v1/compositor/?model=m3&view=STUD_3QTR&size=1440&options=DV2W,IN3PW,COL2-PMNG,W38B,MT305", width: "40%" %>
  <p>Your Car's Charging State is: <%= @car.charge_state["charging_state"] %></p>
  <p>Battery Level: <%= @car.charge_state["battery_level"] %>%</p>
  <p>Estimated Range: <%= @car.charge_state["battery_range"] %> mile</p>
  <div id="map" style="margin-left: auto; margin-right: auto"></div>
</div>